* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Comic Sans MS',Tahoma,'Times New Roman', Times, serif;
}	

h1, h3 {
	text-align: center;
}
h1 {
	margin: 20px 0 30px 0;
}
@media (min-width: 992px) {
	.chicken, .beef, .sushi {
		width: 30%;
		float: left;
		margin: 0 1.6%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.chicken, .beef   {
		width: 45%;
		float: left;
		margin: 0 2.5% 30px;
	}

	.sushi {
		clear: both;
		width: 95%;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	div {
		width: 95%;
		margin: 0 auto 30px auto;
	}
}

.chicken, .beef, .sushi {
	border: 1px solid black;
	padding: 40px 10px 0 10px;
	background: #909090;
	position: relative;
}

.caption {
	position: absolute;
	top: 0;
	right: 0;
	width: 33%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 5px 0 5px 0;
}
.chicken .caption {
	background:#CE8E8F;
}
.beef .caption {
	background: #B73B3D;
	color: #fff;
}
.sushi .caption {
	background: #E2CA92;
}
